---
interface Props {
  title: string;
  imageUrl: string;
  url: string;
}

const { title, imageUrl, url } = Astro.props;
---

<div class="relative overflow-hidden rounded-lg transition-transform duration-300 hover:-translate-y-2">
  <a href={url} class="block text-white no-underline">
    <div class="relative h-0 pb-[66.67%] overflow-hidden"> <!-- 3:2 aspect ratio -->
      <img 
        src={imageUrl} 
        alt={title} 
        class="absolute top-0 left-0 w-full h-full object-cover transition-transform duration-500 hover:scale-105"
      />
    </div>
    <div class="flex justify-between items-center py-6">
      <h3 class="md:text-xs sm:text-base font-medium m-0">{title}</h3>
    </div>
  </a>
  <div class="w-[100px] h-px bg-gray-800 border-t border-gray-700 mt-auto"></div>
</div>
